<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">
<th:block th:insert="fragments/resources-css" />
</head>

<body>
	<div class="main-wrapper">
		<!-- Header -->
		<th:block th:insert="fragments/header" />
		<!-- Sidebar -->
		<th:block th:insert="fragments/sidebar" />
		<!-- Content -->
		<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add Patient</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form th:action="@{/patient/registrar}" th:method="post"
							th:object="${newPatient}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" maxlength="50" th:field="${newPatient.firstName}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" maxlength="50" th:field="${newPatient.lastName}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>DNI <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" maxlength="9" th:field="${newPatient.dni}" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Clinical History Number <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" th:field="${newPatient.numberClinicalHistory}" required>
                                    </div>
                                </div>
                            </div>
                       		
                       		<div class="button-wrapper">
								<div class="m-t-20 text-center">
									<button class="btn btn-primary submit-btn">Create Patient</button>
									<button type="button" th:onclick="'goBack()'" class="btn btn-secondary btn-lg">Cancel</button>
								</div>

							</div>

                        </form>
                    </div>
                </div>
            </div>
            	<script>
				function goBack() {
					window.history.back();
				}
			</script>
        </div>
	</div>
	<div class="sidebar-overlay" data-reff=""></div>
	<th:block th:insert="fragments/resources-js" />
    <script th:src="@{/js/moment.min.js}"></script>  



</body>



</html>