<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">
<th:block th:insert="fragments/resources-css" />
</head>
<body>
	<div class="main-wrapper">
		<!-- Header -->
		<th:block th:insert="fragments/header" />
		<!-- Sidebar -->
		<th:block th:insert="fragments/sidebar" />
		<!-- Content -->
		<div class="page-wrapper">
			<div class="content">
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<h4 class="page-title">Edit Appointment</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<form th:action="@{/specialty/actualizar}" th:method="post"
							th:object="${specialtyEdit}">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>ID</label> <input class="form-control" type="text"
											th:field="${specialtyEdit.id}" th:value="${specialtyEdit.id}"
											readonly>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Name</label> <input class="form-control" type="text"
											th:field="${specialtyEdit.name}"
											th:value="${specialtyEdit.name}" maxlength="50">
									</div>
								</div>
							</div>

							<div class="button-wrapper">
								<div class="m-t-20 text-center">
									<button class="btn btn-primary submit-btn">Save</button>
									<button type="button" th:onclick="'goBack()'"
										class="btn btn-secondary btn-lg">Cancel</button>
								</div>

							</div>


						</form>
					</div>
				</div>
			</div>
			<script>
				function goBack() {
					window.history.back();
				}
			</script>

		</div>
	</div>
	<div class="sidebar-overlay" data-reff=""></div>
	<th:block th:insert="fragments/resources-js" />


</body>
</html>